body {
    background-color: white;
}
.margin--top {
    margin-top: 131px;
}
.row {
    margin-right: 0;
    margin-left: 0;
}

/* TITLE RULES */ 
.title {
    text-align: center;
    background-color: #f2f2f2;
    box-shadow: 0px 3px 10px lightgrey;
    margin-bottom: 25px;
}
.title--vec {
    max-width: 500px;
    width: 100%;
    padding: 20px;
}
.title--subheading {
    font-size: 25px;
    padding-bottom: 20px;

}

/* PRODUCT TEXT AREA RULES */
.product {
    padding-top: 15px;
}
.product__image {
    width: 100%;
    padding: 0;
}
.product__text:nth-child(odd) {
    padding: 70px 70px 70px 10px;
    text-align: right;
}
.product__text:nth-child(even) {
    padding: 70px 10px 70px 70px;
    text-align: left;
}
.product__text--heading {
    font-family: Oswald-Regular;
    font-size: 25px;
    padding: 0 0 20px 0;
}
.product__text--subheading {
    font-family: Oswald-Light;
    font-size: 20px;
    padding: 0 0 20px 0;
}
.product__text--btn {
    display: inline-block;
    font-size: 18px;
    padding: 5px 13px 5px 13px;
    border-radius: 2px;
    background-color: lightgray;
    border: 1px solid #505050;
    cursor: pointer;
}

/* HIDDEN TEXT RULES */
.hidden__text {
    display: none;
    padding: 30px;
    background: #f2f2f2;
    box-shadow: inset 0px 2px 15px lightgrey, inset 0px -2px 15px lightgrey;
}
.hidden__text--size {
    max-width: 1200px;
    margin: 0 auto;
    line-height: 30px;
    padding: 0;
}
.center {
    max-width: 1200px;
}


/*---MOBILE DEVICE---*/
@media (max-width: 830px) {
    .margin--top {
        margin-top: 110px;
    }

    /* TITLE RULES*/
    .title--vec {
        max-width: 400px;
    }
    .title--subheading{
        font-size: 20px;
    }

    /* PRODUCT TEXT AREA RULES */
    .product__text:nth-child(odd) {
        padding: 20px 20px 20px 10px;
    }
    .product__text:nth-child(even) {
        padding: 20px 10px 20px 20px;
    }
    .product__text--heading {
        font-size: 18px;
    }
    .product__text--subheading {
        font-size: 15px;
    }
    .product__text--btn {
        font-size: 14px;
    }

    /* HIDDEN TEXT RULES */
    .hidden__text {
        padding: 20px;
    }
    .hidden__text--size {
        font-size: 15px;
    }
}