@font-face {
    font-family: Oswald-Light;
    src: url(fonts/Oswald-Light.ttf);
}
@font-face {
    font-family: Oswald-Regular;
    src: url(fonts/Oswald-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: oswald-light, sans-serif;
  letter-spacing: 1px;
  margin: 0 auto;
  background-color: #f2f2f2;
  color: #505050;
}
header{
  background-color: white;
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  z-index: 1000 !important;
}
#header-inner {
  height: 81px;
  max-width: 1200px;
  margin: 0 auto;
}
#logo {
  content: url(images/atcomm-logo-svg.svg);
  margin: 10px;
}
#btn {
  float: right;
  font-weight: bold;
  font-size: 14px;
  margin: 40px 0 0 6px;
  padding: 8px 20px;
  text-decoration: none;
  color: #004f9d;
  border-radius: 3px;
}
#btn:first-child{
  margin-right: 10px;
}
#btn:hover {
  background-color: #004f9d;
  color: white;
}
#btn2 {
  float: right;
  font-weight: bold;
  font-size: 14px;
  margin: 40px 5px 0 6px;
  padding: 8px 20px;
  background-color: #004f9d;
  border-radius: 3px;
  text-decoration: none;
  color: white;
}
#button-area {
  margin: 50px 0 30px 0;
  display: inline-block;
}
#btn3:first-child{
  margin-right: 150px;
}
#btn3 {
  font-weight: bold;
  font-size: 25px;
  padding: 10px 24px;
  background-color: #004f9d;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  white-space: nowrap;
}
#btn3:hover {
  background-color: #fe9a32;
}
nav {
  background-color: #004f9d;
  height: 50px;
  font-family: Oswald-Regular;
  letter-spacing: 1px;
  font-weight: normal;
}
ul {
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  line-height: 50px;
  list-style: none;
}
li {
  flex: 1;
  color: white;
  text-align: center;
}
li:hover {
  background-color: #1a70c5;
}
.container {
  padding: 20px 0 0 0;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.grid-fourth {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(286px, 1fr));
  padding: 0 0 40px 0;
}
#solution-item {
  padding: 10px;
  text-align: center;
}
.mobile-menu{
  visibility: hidden;
  line-height: 60px;
  color: white;
  font-weight: bold;
}
.mobile-dropdown {

}
#banner{
  background: url(banner3.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 400px;
  border-bottom: 8px solid #fe9a32;
  text-align: center;
  font-size: 30px;
  margin-top: 131px;
}
#overlay {
  background-color: rgba(0, 80, 160, .5);
  height: 400px;
}
#cap-container{
  padding-top: 90px;
}
#caption{
  font-family: Oswald-Regular;
  font-weight: 500;
  color: white;
  font-size: 50px;
}
#sub-caption {
  padding-top: 20px;
  padding-bottom: 30px;
  color: white;
  font-size: 30px;
  font-weight: 500;
}
#banner-btn{
  margin-top: 10px;
  font-size: 20px;
  padding: 10px 24px 10px 24px;
  border-radius: 3px;
  background-color: white;
  color: #004f9d;
}
#content-bar{
  padding: 50px 0 50px 0;
  background-color: white;
  text-align: center;
  color: #505050;
  box-shadow: 0px 3px 10px lightgray;
}
.content-area{
  max-width: 1200px;
  margin: 0 auto;
}
.sub-content {
  padding-top: 20px;
}
.partner-img {
  vertical-align: middle;
}
#middle{
  height: 160px;
  line-height: 160px;
}
.lower-cont {
  background-color: white;
}
.single-item {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 0 30px 0;
}
.grid-two {
  border-top: 1px solid #d8d8d8;
  padding: 30px 10px 0 10px;
  display: grid;
   grid-template-columns: 66% 33%;
}
.col-2-3 {
  padding-right: 20px;
}
.col-1-3 {
}
#video {
  width: 100%;
}
/*---MOBILE DEVICE---*/

@media (max-width: 830px) {
  #btn {
    display: none;
  }
  #header-inner {
    height: 65px;
  }
  #logo{
    width: 150px;
    align-items: center;
    margin: 5px 0 5px 5px;
  }
  nav {
    width: 100%;
    height: 45px;
  }
  #btn2 {
    margin-top: 16px;
    margin-right: 13px;
  }
  #btn3:first-child{
    margin-right: 0;
  }
  #btn3 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  ul{
    display: none;
  }
  .mobile-menu {
    visibility: visible;
    line-height: 45px;
    text-align: right;
    padding-right: 13px;
  }
  #banner{
    height: 200px;
    margin-top: 110px;
  }
  #cap-container{
    padding: 40px 5px 0 5px;
  }
  #caption{
    font-size: 22px;
  }
  #sub-caption{
    padding: 10px;
    font-size: 16px;
  }
  #banner-btn {
    font-size: 18px;
  }
  #container {
    padding: 5px;
  }
  #content-bar {
    padding: 20px 5px 20px 5px;
  }
  .content-area {
    font-size: 18px;
  }
  .mobile-head {
    font-size: 22px;
  }
}
